body {
	background: beige;
	margin: 0;
	padding: 0;
}

#sidebar {
	width: 15%;
	display: inline-block;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0px;
}

main {
	width: 87px;
	position: absolute;
	display: inline-block;
}

