body {
	background: beige;
	margin: 0;
	padding: 0;
	font-family: "Lucida Console", Monaco, monospace;
	max-width: 960px;
	min-width: 475px;
}

#sidebar {
	width: 15%;
	display: inline-block;
	min-width: 110px;
}

#flag{
	width:100px;
	height: auto;
}


#sidebar ul {
	list-style-type: none;
	padding-left: 5px;
	background-color: beige;
}

#sidebar li {
	padding-bottom: 5px;
}

#sidebar li a {
	display: block:
	color #000000;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: khaki;
	color: white;
}

main {
	width: 87%;
	position: absolute;
	display: inline-block;
}

.linderhof {
	width: 90%;
}
